<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 159.7 MB/s eta 0:00:00
Downloading numpy-2.3.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 152.5 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.4 pandas-2.3.3 tzdata-2025.2

In [2]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [3]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [4]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
## Write your code here
df.head(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [8]:
## Write your code here
num_rows=df.shape[0]
print(f"Number of rows: {num_rows}")

Number of rows: 65457

Print the number of columns in the dataset.

In [9]:
## Write your code here
num_columns = df.shape[1]
print(f"Number of columns: {num_columns}")

Number of columns: 114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [17]:
## Write your code her
# option 1 (doesn't show all columns):
#df.dtypes

# option 2 (works, but wordy)
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #print(df_survey.dtypes)

#option 3
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Data columns (total 114 columns):
 #    Column                          Dtype
---   ------                          -----
 0    ResponseId                      int64
 1    MainBranch                      object
 2    Age                             object
 3    Employment                      object
 4    RemoteWork                      object
 5    Check                           object
 6    CodingActivities                object
 7    EdLevel                         object
 8    LearnCode                       object
 9    LearnCodeOnline                 object
 10   TechDoc                         object
 11   YearsCode                       object
 12   YearsCodePro                    object
 13   DevType                         object
 14   OrgSize                         object
 15   PurchaseInfluence               object
 16   BuyNewTool                      object
 17   BuildvsBuy                      object
 18   TechEndorse                     object
 19   Country                         object
 20   Currency                        object
 21   CompTotal                       float64
 22   LanguageHaveWorkedWith          object
 23   LanguageWantToWorkWith          object
 24   LanguageAdmired                 object
 25   DatabaseHaveWorkedWith          object
 26   DatabaseWantToWorkWith          object
 27   DatabaseAdmired                 object
 28   PlatformHaveWorkedWith          object
 29   PlatformWantToWorkWith          object
 30   PlatformAdmired                 object
 31   WebframeHaveWorkedWith          object
 32   WebframeWantToWorkWith          object
 33   WebframeAdmired                 object
 34   EmbeddedHaveWorkedWith          object
 35   EmbeddedWantToWorkWith          object
 36   EmbeddedAdmired                 object
 37   MiscTechHaveWorkedWith          object
 38   MiscTechWantToWorkWith          object
 39   MiscTechAdmired                 object
 40   ToolsTechHaveWorkedWith         object
 41   ToolsTechWantToWorkWith         object
 42   ToolsTechAdmired                object
 43   NEWCollabToolsHaveWorkedWith    object
 44   NEWCollabToolsWantToWorkWith    object
 45   NEWCollabToolsAdmired           object
 46   OpSysPersonal use               object
 47   OpSysProfessional use           object
 48   OfficeStackAsyncHaveWorkedWith  object
 49   OfficeStackAsyncWantToWorkWith  object
 50   OfficeStackAsyncAdmired         object
 51   OfficeStackSyncHaveWorkedWith   object
 52   OfficeStackSyncWantToWorkWith   object
 53   OfficeStackSyncAdmired          object
 54   AISearchDevHaveWorkedWith       object
 55   AISearchDevWantToWorkWith       object
 56   AISearchDevAdmired              object
 57   NEWSOSites                      object
 58   SOVisitFreq                     object
 59   SOAccount                       object
 60   SOPartFreq                      object
 61   SOHow                           object
 62   SOComm                          object
 63   AISelect                        object
 64   AISent                          object
 65   AIBen                           object
 66   AIAcc                           object
 67   AIComplex                       object
 68   AIToolCurrently Using           object
 69   AIToolInterested in Using       object
 70   AIToolNot interested in Using   object
 71   AINextMuch more integrated      object
 72   AINextNo change                 object
 73   AINextMore integrated           object
 74   AINextLess integrated           object
 75   AINextMuch less integrated      object
 76   AIThreat                        object
 77   AIEthics                        object
 78   AIChallenges                    object
 79   TBranch                         object
 80   ICorPM                          object
 81   WorkExp                         float64
 82   Knowledge_1                     object
 83   Knowledge_2                     object
 84   Knowledge_3                     object
 85   Knowledge_4                     object
 86   Knowledge_5                     object
 87   Knowledge_6                     object
 88   Knowledge_7                     object
 89   Knowledge_8                     object
 90   Knowledge_9                     object
 91   Frequency_1                     object
 92   Frequency_2                     object
 93   Frequency_3                     object
 94   TimeSearching                   object
 95   TimeAnswering                   object
 96   Frustration                     object
 97   ProfessionalTech                object
 98   ProfessionalCloud               object
 99   ProfessionalQuestion            object
 100  Industry                        object
 101  JobSatPoints_1                  float64
 102  JobSatPoints_4                  float64
 103  JobSatPoints_5                  float64
 104  JobSatPoints_6                  float64
 105  JobSatPoints_7                  float64
 106  JobSatPoints_8                  float64
 107  JobSatPoints_9                  float64
 108  JobSatPoints_10                 float64
 109  JobSatPoints_11                 float64
 110  SurveyLength                    object
 111  SurveyEase                      object
 112  ConvertedCompYearly             float64
 113  JobSat                          float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

In [22]:
df.head(20)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,"School (i.e., University, College, etc);Online...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
6,7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",Remote,Apples,I don’t code outside of work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Written...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN
7,8,I am learning to code,18-24 years old,"Student, full-time;Not employed, but looking f...",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Video-based Online Cou...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Difficult,NaN,NaN
8,9,I code primarily as a hobby,45-54 years old,"Employed, full-time",In-person,Apples,Hobby,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Written-based Online Courses,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
9,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
10,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
11,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
12,13,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training;Sch...,NaN,...,30.0,0.0,0.0,20.0,10.0,10.0,Appropriate in length,Easy,NaN,8.0
13,14,"I used to be a developer by profession, but no...",35-44 years old,"Not employed, and not looking for work",NaN,Apples,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Colleague;Other online resources (e.g., videos...",Technical documentation;Blogs;Stack Overflow;I...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN
14,15,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Coding sessions (live or record...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
15,16,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Books;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,Appropriate in length,Neither easy nor difficult,NaN,5.0
16,17,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,Books / Physical media;Other online resources ...,Technical documentation;Written Tutorials;Stac...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
17,18,I am a developer by profession,18-24 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Blogs;Coding sessions (live or recorded);How-t...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
18,19,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Blogs;Books;Stack Over...,...,60.0,10.0,10.0,0.0,0.0,0.0,Appropriate in length,Easy,NaN,10.0
19,20,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

Print the mean age of the survey participants.

In [35]:
## Write your code here
print('\nAge              Respondants')      
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Age'].value_counts())

Age              Respondants
Age
25-34 years old       23913
35-44 years old       14948
18-24 years old       14105
45-54 years old        6251
55-64 years old        2575
Under 18 years old     2570
65 years or older       773
Prefer not to say       322
Name: count, dtype: int64

In [36]:
# The age ranges and the number of respondents in each category
age_data = {
    '25-34 years old': 23913,
    '35-44 years old': 14948,
    '18-24 years old': 14105,
    '45-54 years old': 6251,
    '55-64 years old': 2575,
    'Under 18 years old': 2570,
    '65 years or older': 773,
    'Prefer not to say': 322
}

# Define the midpoint for each age range for estimation
# For 'Under 18', we use an estimate of 17.5 years as an upper bound midpoint
# For '65 or older', we use 70 as a representative age
age_midpoints = {
    '25-34 years old': 29.5,
    '35-44 years old': 39.5,
    '18-24 years old': 21.0,
    '45-54 years old': 49.5,
    '55-64 years old': 59.5,
    'Under 18 years old': 17.5,
    '65 years or older': 70.0,
}

total_age_product_sum = 0
total_participants_for_mean = 0

# Iterate through the data, calculating the sum of ages and total participants
for age_range, count in age_data.items():
    if age_range in age_midpoints:
        midpoint = age_midpoints[age_range]
        total_age_product_sum += midpoint * count
        total_participants_for_mean += count

# Calculate the estimated mean age
estimated_mean_age = total_age_product_sum / total_participants_for_mean

print(f"Total participants used for calculation: {total_participants_for_mean}")
print(f"Total sum of age products: {total_age_product_sum}")
print(f"The estimated mean age of the participants is approximately: {estimated_mean_age:.2f} years old")

Total participants used for calculation: 65135
Total sum of age products: 2153806.5
The estimated mean age of the participants is approximately: 33.07 years old

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [24]:
## Write your code here
num_unique_countries = df['Country'].nunique()
print("Number of unique countries:", num_unique_countries)

Number of unique countries: 185

In [30]:
print('There are', df['Country'].nunique(), 'unique countries in the survey:')
print('\nCountry                                             Respondants')      
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country'].value_counts())

There are 185 unique countries in the survey:

Country                                             Respondants
Country
United States of America                                11099
Germany                                                  4949
India                                                    4232
United Kingdom of Great Britain and Northern Ireland     3227
Ukraine                                                  2672
France                                                   2110
Canada                                                   2106
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Italy                                                    1341
Australia                                                1260
Spain                                                    1123
Sweden                                                   1016
Russian Federation                                        925
Switzerland                                               876
Austria                                                   791
Czech Republic                                            714
Israel                                                    604
Turkey                                                    546
Belgium                                                   526
Denmark                                                   504
Portugal                                                  470
Norway                                                    451
Romania                                                   439
Pakistan                                                  415
Iran, Islamic Republic of...                              412
China                                                     406
Mexico                                                    402
New Zealand                                               396
Hungary                                                   396
Greece                                                    389
Finland                                                   386
South Africa                                              358
Indonesia                                                 354
Argentina                                                 345
Bangladesh                                                327
Bulgaria                                                  319
Nigeria                                                   306
Viet Nam                                                  296
Japan                                                     288
Ireland                                                   270
Taiwan                                                    268
Egypt                                                     263
Slovakia                                                  248
Serbia                                                    246
Colombia                                                  217
Philippines                                               196
Croatia                                                   187
Lithuania                                                 183
Kenya                                                     180
Singapore                                                 177
Sri Lanka                                                 163
Malaysia                                                  161
Thailand                                                  147
South Korea                                               146
Hong Kong (S.A.R.)                                        146
Slovenia                                                  142
Nepal                                                     139
Chile                                                     133
United Arab Emirates                                      130
Latvia                                                    128
Estonia                                                   110
Morocco                                                    99
Belarus                                                    97
Georgia                                                    94
Uruguay                                                    94
Kazakhstan                                                 81
Algeria                                                    77
Peru                                                       75
Tunisia                                                    71
Ghana                                                      70
Venezuela, Bolivarian Republic of...                       69
Uzbekistan                                                 63
Cyprus                                                     63
Bosnia and Herzegovina                                     62
Ethiopia                                                   60
Armenia                                                    58
Republic of Korea                                          57
Afghanistan                                                56
Saudi Arabia                                               56
Costa Rica                                                 54
Ecuador                                                    54
Albania                                                    49
Dominican Republic                                         47
Lebanon                                                    46
Kyrgyzstan                                                 44
Iraq                                                       44
Nomadic                                                    43
Guatemala                                                  41
Luxembourg                                                 40
Jordan                                                     40
Uganda                                                     39
Paraguay                                                   39
Republic of Moldova                                        38
Republic of North Macedonia                                36
Bolivia                                                    32
Iceland                                                    31
Cameroon                                                   31
Syrian Arab Republic                                       30
Malta                                                      29
United Republic of Tanzania                                28
Montenegro                                                 27
Azerbaijan                                                 27
Zimbabwe                                                   26
Cuba                                                       23
Rwanda                                                     22
Cambodia                                                   22
Myanmar                                                    21
Nicaragua                                                  21
Angola                                                     20
El Salvador                                                19
Kosovo                                                     18
Yemen                                                      18
Panama                                                     18
Maldives                                                   16
Honduras                                                   16
Mauritius                                                  15
Palestine                                                  15
Andorra                                                    15
Qatar                                                      15
Zambia                                                     15
Madagascar                                                 14
Côte d'Ivoire                                              14
Isle of Man                                                13
Malawi                                                     12
Jamaica                                                    11
Turkmenistan                                               11
Benin                                                      11
Bahrain                                                    11
Mongolia                                                   10
Somalia                                                     9
Senegal                                                     9
Togo                                                        9
Kuwait                                                      8
Congo, Republic of the...                                   8
Trinidad and Tobago                                         8
Oman                                                        8
Mozambique                                                  7
Tajikistan                                                  7
Sudan                                                       7
Barbados                                                    6
Suriname                                                    5
Cape Verde                                                  5
Botswana                                                    5
Antigua and Barbuda                                         5
Namibia                                                     5
Mauritania                                                  5
Lao People's Democratic Republic                            4
Liechtenstein                                               4
Fiji                                                        4
Gabon                                                       4
Bahamas                                                     4
Swaziland                                                   4
Burkina Faso                                                4
Liberia                                                     4
Libyan Arab Jamahiriya                                      4
San Marino                                                  3
Sierra Leone                                                3
Democratic Republic of the Congo                            3
Burundi                                                     3
Bhutan                                                      3
Monaco                                                      3
Guyana                                                      3
North Korea                                                 3
Brunei Darussalam                                           3
Democratic People's Republic of Korea                       2
Mali                                                        2
Guinea-Bissau                                               2
Belize                                                      2
Dominica                                                    1
Papua New Guinea                                            1
Equatorial Guinea                                           1
Central African Republic                                    1
Samoa                                                       1
Niger                                                       1
Guinea                                                      1
Saint Kitts and Nevis                                       1
Lesotho                                                     1
Haiti                                                       1
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, dtype: int64

Copyright ©  IBM Corporation. All rights reserved.